@use '../src/index.scss' as base;

nav {
    li {
        display: flex;
        position: relative;

    }
    a {
        @include base.mdBreakpoint {
            padding: 6px 20px;
            margin: 0 10px;
        }
        padding: 6px 16px;
        margin: 0 5px;
        z-index: 1;
    }   
}

.slider {
    position: absolute;
    height: 70%;
    width: 100%;
    background: green;
    transition-property: opacity, width, left;
    transition-timing-function: ease-in-out;
}