@use '../src/index.scss' as base;

.project-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: clamp(2rem, 8vw, 6rem);
    
    li {
        width: 100%;
        margin: clamp(1rem, 3vw, 3rem) 0px;
        transition-duration: 0.3s;
    }

    @include base.mdBreakpoint {
        li:hover {
            transform: translateY(-15px);
        }
    }

    .project {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: clamp(0.5rem, 1.5vw, 1.5rem);
        align-items: center;
        background: rgba(255, 255, 255, 0.35);
        border-radius: clamp(1rem, 3vw, 2rem);
        cursor: pointer;

        @include base.lgBreakpoint {
            flex-direction: row;
            gap: 0px;
        }

        .name {
            margin: auto;
        }
    }

    .project-img {
        border-radius: calc(clamp(1rem, 3vw, 2rem) - clamp(0.5rem, 1.5vw, 1.5rem));

        @include base.lgBreakpoint {
            width: 45%;
        }
    }
}