@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@mixin mdBreakpoint{
    @media only screen and (min-width: 768px) {
        @content;
    }
}

* {
    color: rgb(19, 78, 74);
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

:root {
    --color-gradient: linear-gradient(
        45deg,
        rgba(255, 208, 208, 0.9),
        rgba(255, 235, 208, 0.9),
        rgba(255, 235, 208, 0.9),
        rgba(252, 255, 208, 0.9),
        rgba(252, 255, 208, 0.9),
        rgba(239, 255, 208, 0.9),
        rgba(239, 255, 208, 0.9),
        rgba(208, 255, 217, 0.9),
        rgba(208, 255, 217, 0.9),
        rgba(239, 255, 208, 0.9),
        rgba(239, 255, 208, 0.9),
        rgba(252, 255, 208, 0.9),
        rgba(252, 255, 208, 0.9),
        rgba(255, 235, 208, 0.9),
        rgba(255, 235, 208, 0.9),
        rgba(255, 208, 208, 0.9),
        rgba(255, 235, 208, 0.9),
        rgba(255, 235, 208, 0.9),
        rgba(252, 255, 208, 0.9),
        rgba(252, 255, 208, 0.9),
        rgba(239, 255, 208, 0.9),
        rgba(239, 255, 208, 0.9),
        rgba(208, 255, 217, 0.9)
    ),
    linear-gradient(
        0deg,
        rgba(200, 0, 0, 0.15),
        rgba(0, 200, 0, 0.15)
        100%
    )
}

@keyframes bg-animation {
    0%{
        background-position: 0% 0%;
    }
    5%{
        background-position: 0% 100%;
    }
    10%{
        background-position: 33% 0%;
    }
    15%{
        background-position: 33% 100%;
    }
    20%{
        background-position: 66% 0%;
    }
    25%{
        background-position: 66% 100%;
    }
    30%{
        background-position: 100% 0%;
    }
    35%{
        background-position: 100% 100%;
    }
    40%{
        background-position: 0% 100%;
    }
    45%{
        background-position: 100% 50%;
    }
    50%{
        background-position: 0% 50%;
    }
    55%{
        background-position: 100% 0%;
    }
    60%{
        background-position: 66% 100%;
    }
    65%{
        background-position: 66% 0%;
    }
    70%{
        background-position: 33% 100%;
    }
    75%{
        background-position: 33% 0%;
    }
    80%{
        background-position: 0% 100%;
    }
    85%{
        background-position: 100% 50%;
    }
    90%{
        background-position: 0% 50%;
    }
    95%{
        background-position: 100% 0%;
    }
    100%{
        background-position: 0% 0%;
    }
}

.gradient {
   background: linear-gradient(rgba(238, 230, 220, 0), rgba(238, 230, 220, 1) 70%);
   position: relative;
}

.gradient > * {
    z-index: 10;
    position: relative;
}

.gradient::after {
    content: "";
    mix-blend-mode: overlay;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    background-size: 500% 500%;
    background-image: var(--color-gradient);
    animation: bg-animation 240s infinite linear;
}