@use '../src/index.scss' as base;

nav {
    z-index: 1000;
    li {
        position: relative;
        z-index: 2;
        display: flex;
        transition-duration: 0.25s;
        a {
            padding: 28px;
            @include base.mdBreakpoint {
                padding: 28px 36px;
            }
        }
    }

    .nav-menu {
        path {
            stroke:rgb(161, 161, 170);
            fill: none;
            stroke-width: 6;
            stroke-linejoin: round;
            stroke-linecap: round;
            transition-duration: 0.35s;
            transition-timing-function: ease-in-out;
        }
      
        .menu-ends {
            stroke-dasharray: 70 1000;
        }
      
        .menu-middle {
            stroke-dasharray: 55 1000;
        }
    }
}

.menu-link {
    display: flex;
    height: 15%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.menu-separator {
    height: 0.25rem;
    width: 100%;
    svg {
        height: 100%;
        width: 100%;
    }
}